# Database
DB_USER=postgres
DB_PASSWORD=password123
DB_NAME=myapp_db

# JWT 
JWT_ACCESS_SECRET=ganti_ini_dengan_random_string_panjang_64_karakter
JWT_REFRESH_SECRET=ganti_ini_dengan_random_string_lain_64_karakter
